#drawing-canvas {
    display: flex;
    border: 2px solid rebeccapurple;
    width: 50vw;
    height: 50vh;
}

body{
    background: url("/asset/backgrounds/thunder.gif");
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wt-container{
    border: 20px solid black;
    width: 600px; height: 600px;
}

