

.body-class{
    background-color: aquamarine;
}

#wt-container{
    border: 10px solid #f45;
    
}

#viewer-form input{
    border : none;
    border-bottom: 2px solid #f45;
    color :burlywood;
    background-color: aquamarine;
}

#viewer-form button{
    border : none !important;
}